<!-- Launch file for Vector sensor startup -->

<launch>
        
    <group unless="$(optenv VECTOR_HAS_SAFETY_LASERS false)">
        <node pkg="sick_tim" type="sick_tim551_2050001" name="front_laser_node" clear_params="true" respawn="true">
            <remap from="scan" to="/vector/front_scan" />
            <param name="max_ang" value="2.35619449019"/>
            <param name="min_ang" value="-2.35619449019"/>
            <param name="intensity" type="bool" value="true" />
            <param name="skip" type="int" value="0" />
            <param name="frame_id" type="str" value="front_laser_link" />
            <param name="time_offset" type="double" value="-0.001" />
            <param name="publish_datagram" type="bool" value="false" />
            <param name="subscribe_datagram" type="bool" value="false" />
            <param name="range_min" type="double" value="$(optenv LASER1_MIN_RANGE 0.05)" />
            <param name="range_max" type="double" value="$(optenv LASER1_MAX_RANGE 10.0)" />
            <param name="hostname" type="string" value="10.66.171.8" />
            <param name="port" type="string" value="VECTOR_LASER1_PORT 2112" />
            <param name="timelimit" type="int" value="5" />
        </node>

        <node pkg="sick_tim" type="sick_tim551_2050001" name="rear_laser_node" respawn="false">
            <remap from="scan" to="/vector/rear_scan" />
            <param name="max_ang" value="2.35619449019"/>
            <param name="min_ang" value="-2.35619449019"/>
            <param name="intensity" type="bool" value="true" />
            <param name="skip" type="int" value="0" />
            <param name="frame_id" type="str" value="rear_laser_link" />
            <param name="time_offset" type="double" value="-0.001" />
            <param name="publish_datagram" type="bool" value="false" />
            <param name="subscribe_datagram" type="bool" value="false" />
            <param name="range_min" type="double" value="$(optenv LASER1_MIN_RANGE 0.05)" />
            <param name="range_max" type="double" value="$(optenv LASER2_MAX_RANGE 10.0)" />
            <param name="hostname" type="string" value="10.66.171.9" />
            <param name="port" type="string" value="2112" />
            <param name="timelimit" type="int" value="5" />
            <!-- Older versions of the scanner firmware report an incorrect time_increment.
             If you get a warning about time_increment, uncomment this. -->
            <!-- <param name="time_increment" type="double" value="0.000061722" /-->
        </node>
    </group>

    <group if="$(optenv VECTOR_HAS_SAFETY_LASERS false)">
        <node name="front_laser_node" pkg="urg_node" type="urg_node" output="screen">
            <remap from="/scan" to="/vector/front_scan"/>
            <remap from="/laser_status" to="/front_laser_status"/>
            <param name="ip_address" value="10.66.171.8"/>
            <param name="frame_id" value="front_laser_link"/>
            <param name="calibrate_time" value="false"/>
            <param name="publish_intensity" value="true"/>
            <param name="publish_multiecho" value="false"/>
            <param name="angle_min" value="-2.35619449"/>
            <param name="angle_max" value="2.23619449"/>
        </node>
        
        <node name="rear_laser_node" pkg="urg_node" type="urg_node" output="screen">
            <remap from="/scan" to="/vector/rear_scan"/>
            <remap from="/laser_status" to="/rear_laser_status"/>
            <param name="ip_address" value="10.66.171.9"/>
            <param name="frame_id" value="rear_laser_link"/>
            <param name="calibrate_time" value="false"/>
            <param name="publish_intensity" value="true"/>
            <param name="publish_multiecho" value="false"/>
            <param name="angle_min" value="-2.35619449"/>
            <param name="angle_max" value="2.23619449"/>
        </node>
    </group>
    
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_link"/>
        <param name="cloud_destination_topic" value="/vector/merged_cloud"/>
        <param name="scan_destination_topic" value="/vector/combined_scan"/>
        <param name="laserscan_topics" value ="/vector/front_scan /vector/rear_scan"/>
    </node>
    
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="base_laser_filter" clear_params="true" respawn="true">
        <remap from="scan" to="/vector/combined_scan" />
        <remap from="scan_filtered" to="/vector/base_scan_filtered" />
        <param name="target_frame" value="base_link" />
        <param name="high_fidelity" value="true" />
        <rosparam command="load" 
            file="$(find vector_bringup)/launch/sensors/config/laser_scan_filter.yaml" />
    </node>

	<node pkg="si_utils" type="laserscan_to_pcl2" name="laserscan_to_pcl2" output="screen">
	    <remap from="scan" to="/vector/base_scan_filtered"/>
	    <remap from="points2" to="/vector/scan_multi_points2"/>
	</node>
	
	<node name="statistical_outlier_removal" pkg="nodelet" type="nodelet"
        args="standalone pcl/StatisticalOutlierRemoval">
		<remap from="~input" to="/vector/scan_multi_points2" />
		<remap from="~output" to="/vector/filtered_scan_points2" />
		<rosparam>mean_k: 2</rosparam>
		<rosparam>stddev: 0.3</rosparam>
	</node>	
    
</launch> 
    
    
