<!-- Launch file for Vector sensor startup -->

<launch>
        
    <node pkg="sick_tim" type="sick_tim551_2050001" name="front_laser_node" clear_params="true" respawn="true">
        <remap from="scan" to="/vector/front_scan" />
        <param name="max_ang" value="$(optenv LASER1_MAX_ANGLE 2.35619449019)"/>
        <param name="min_ang" value="$(optenv LASER1_MIN_ANGLE -2.35619449019)"/>
        <param name="intensity" type="bool" value="True" />
        <param name="skip" type="int" value="0" />
        <param name="frame_id" type="str" value="front_laser_link" />
        <param name="time_offset" type="double" value="-0.001" />
        <param name="publish_datagram" type="bool" value="False" />
        <param name="subscribe_datagram" type="bool" value="false" />
        <param name="range_min" type="double" value="$(optenv LASER1_MIN_RANGE 0.05)" />
        <param name="range_max" type="double" value="$(optenv LASER1_MAX_RANGE 10.0)" />
        <param name="hostname" type="string" value="$(optenv VECTOR_LASER1_IP 10.66.171.8)" />
        <param name="port" type="string" value="$(optenv VECTOR_LASER1_PORT 2112)" />
        <param name="timelimit" type="int" value="5" />
    </node>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="front_laser_filter" clear_params="true" respawn="true">
        <remap from="scan" to="/vector/front_scan" />
        <remap from="scan_filtered" to="/vector/filtered_front_scan" />
        <param name="target_frame" value="base_link" />
        <param name="high_fidelity" value="true" />
        <rosparam command="load" 
            file="$(find vector_bringup)/launch/sensors/config/laser_scan_filter.yaml" />
    </node>

    <node pkg="sick_tim" type="sick_tim551_2050001" name="$(optenv LASER2_PREFIX rear)_laser_node" respawn="false">
        <remap from="scan" to="/vector/$(optenv LASER2_PREFIX rear)_scan" />
        <param name="max_ang" value="$(optenv LASER2_MAX_ANGLE 2.35619449019)"/>
        <param name="min_ang" value="$(optenv LASER2_MIN_ANGLE -2.35619449019)"/>
        <param name="intensity" type="bool" value="True" />
        <param name="skip" type="int" value="0" />
        <param name="frame_id" type="str" value="$(optenv LASER2_PREFIX rear)_laser_link" />
        <param name="time_offset" type="double" value="-0.001" />
        <param name="publish_datagram" type="bool" value="False" />
        <param name="subscribe_datagram" type="bool" value="false" />
        <param name="range_min" type="double" value="$(optenv LASER2_MIN_RANGE 0.05)" />
        <param name="range_max" type="double" value="$(optenv LASER2_MAX_RANGE 10.0)" />
        <param name="hostname" type="string" value="$(optenv VECTOR_LASER2_IP 10.66.171.9)" />
        <param name="port" type="string" value="$(optenv VECTOR_LASER2_PORT 2112)" />
        <param name="timelimit" type="int" value="5" />
        <!-- Older versions of the scanner firmware report an incorrect time_increment.
         If you get a warning about time_increment, uncomment this. -->
        <!-- <param name="time_increment" type="double" value="0.000061722" /-->
    </node>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="rear_laser_filter" clear_params="true" respawn="true">
        <remap from="scan" to="/vector/rear_scan" />
        <remap from="scan_filtered" to="/vector/filtered_rear_scan" />
        <param name="target_frame" value="base_link" />
        <param name="high_fidelity" value="true" />
        <rosparam command="load" 
            file="$(find vector_bringup)/launch/sensors/config/laser_scan_filter.yaml" />
    </node>
    
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_link"/>
        <param name="cloud_destination_topic" value="/vector/merged_cloud"/>
        <param name="scan_destination_topic" value="/vector/base_scan_filtered"/>
        <param name="laserscan_topics" value ="/vector/filtered_front_scan /vector/filtered_rear_scan"/>
    </node>

	<node pkg="si_utils" type="laserscan_to_pcl2" name="laserscan_to_pcl2" output="screen">
	    <remap from="scan" to="/vector/base_scan_filtered"/>
	    <remap from="points2" to="/vector/scan_multi_points2"/>
	</node>
	
	<node name="statistical_outlier_removal" pkg="nodelet" type="nodelet"
        args="standalone pcl/StatisticalOutlierRemoval">
		<remap from="~input" to="/vector/scan_multi_points2" />
		<remap from="~output" to="/vector/filtered_scan_points2" />
		<rosparam>mean_k: 2</rosparam>
		<rosparam>stddev: 0.3</rosparam>
	</node>	
    
    <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
      
        <remap from="imu/data_raw" to="/vector/feedback/sic_imu"/>
        <param name="constant_dt" value="0.01"/>
        <param name="fixed_frame" value="base_link"/>
        <param name="publish_debug_topics" value="true"/>
     </node>
    
    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen" if="$(optenv VECTOR_ENABLE_LSM false)" >
        <rosparam command="load" 
                file="$(find vector_bringup)/launch/sensors/config/laser_scan_matcher.yaml" />

        <remap from="/scan" to="/vector/base_scan_filtered"/>
        <remap from="/imu" to="/vector/feedback/sic_imu"/>
        <remap from="/odom" to="/vector/feedback/wheel_odometry"/>
        <remap from="/pose_with_covariance_stamped" to="/vector/lsm/pose"/>
    </node>
    
    <node pkg="moxa_interface" type="moxa_modbus_driver" name="robot_io" clear_params="true" respawn="true" output="screen" if="$(optenv VECTOR_HAS_IO false)">
        <param name="host_ip" value="$(optenv VECTOR_IO_IP 10.66.171.30)" />
        <param name="prefix" value="vector_io"/>
        <param name="host_port" value="$(optenv VECTOR_IO_PORT 502)"/>
        <param name="timeout" value="2" />
        <param name="update_rate_hz" value="5.0" />
    </node>
    
</launch> 
    
    
