<?xml version="1.0"?>
<launch>
    <rosparam param="use_sime_time">true</rosparam>
    
    <include file="$(find vector_gazebo)/launch/vector.launch">
        <arg name="world" value="$(find vector_gazebo)/worlds/cafe1.world"/>
        <arg name="limited" default="false"/>
        <arg name="paused" default="false"/>
        <arg name="gui" default="true"/>
    </include>



</launch>
